a{color:black}
body{background-color: white ;}
.container-fluid{text-align: center;}
.navbar{width: 100%;}
.carouselExampleCaptions{height: 500px;}
.carousel-inner{width: 80%;z-index: 1 ;}
h1{color:white;text-align: center; 
        background-color: palevioletred;
        padding-top: 60px ;
        }
h2{color: black;
        text-align: center;
        position: static;}
#logo{width: 100px;
        display: inline;
        float: left;}
h4{color: black;}
h5{color: black;}
p{color: black;}
#prom{display: inline;}
.imagen-mitad{width: 100%;}
.col-6{margin-left: 200px;}
h3{color: black;text-align: center;}
#nuevo{text-align: left;}
#nosotros{display: block;}
#acidos1{display: block;}
head{line-height: 55px;
    position: sticky;
        top: 0px;}
button{background-color: #000000;
color: black;}
.dropdown {display: inline-block;
        position: relative;}
.dropdown-content {
        display: none;
        position: absolute;
        width: 150px;
        overflow: auto;
        z-index: 2;}
.dropdown:hover .dropdown-content {
        display: block;}
.dropdown-content a {
        display: block;
        color: #000000;
        background-color: white;
        padding: 5px;
        text-decoration: none;
      }
.dropdown-content a:hover {
        color:black;
        background-color: #00A4BD;
      }
#nosotros{text-align: center;}
#Historia{text-align: center;}
footer{text-align: center;}
footer > a{color: white;}
 h1{margin-bottom: 0px!important;}
.col-6{margin:0px;}
.container-fotos
{   display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 5px;
    text-align: center;
    align-items: center;
}
.botonco {
        color: white;
        background-color: black!important;
        border-color: black!important;
}   
.boton{
        background-color: black;
        color: white;
        border-radius: 10px;
        padding: 15px 25px;
        text-decoration: none;
        width: 180px;
        justify-content: center;
        align-items: center;
        margin-left:150px;
    }   
.whatspp{
        position:fixed;
        bottom:10px;
        right:10px;
        width: 50px;
        height: 50px;
    }

.insta{
        position:fixed;
        bottom:10px;
        right: 75px;
        width: 50px;
        height: 50px;
    }
.novedades{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
        gap: 5px;
        text-align: center;
    }


.fotos{
        width: 500px;
        height: 360px;
}
#productos{
        text-align: center;
        background-color: palevioletred;
        color: white;
}

.imagen{
        width: 300px;
        height: 400px;
}

    .sections{
        margin: 10px 0 10px 0;
        overflow-x: scroll;
        overflow-y: hidden;
        overflow: auto;
        white-space: nowrap;
        background: transparent;
        height: 100%;
    }

    #populares{
        padding: 50px;
    }

    #populares1{
        padding: 50px;
    }

    #populares2{
        padding: 50px;
    }
    .sections1{
        display:inline-block;
}
.banner1{
        width: 40vh;
        height: auto;
}

.imagenesCorredor1{
        height: 290px!important;
        width: 280px;
        }

.imagenesCorredor2{
        height: 320px!important;
        width: 60%;
        }

.imagenesCorredor3{
        height: 280px!important;
        width: 180px;
        }

#tit{
        padding: 10px!important;

}