/* etiqueta {propiedad :valor;}*/
/* llamar a la etiqueta directo*/
*{color:rgb(37, 37, 205)}

body{background-color:white;}

/* llamar a una clase */ 
.titular:hover{
    color:blueviolet;
    font-size: 50px;
}


h2
{color: black;}
.titular{
    background-color: 
    rgb(223, 117, 152)  ;
    color:rgb(37, 37, 205);
    font-size: 50px;
}


#relativa{
    position:relative;
    right:80px;
    top:80px;
}



.whatspp{
    position:fixed;
    bottom:10px;
    right:10px;
}

.insta{
    position:fixed;
    bottom:10px;
    right: 75px;
}

/* llamar a una clase */ 
.border{
    border: 5px solid lightcoral;
}


/* llamar a un id */ 
#titular3{
    color:black;
}

/* llamar a un id - otro id nuevo */ 
#titular4{
    color:rgb(37, 37, 205);
}

.header{
    position:sticky;
    top: 0;
}

h3{
    font-family: 'Playfair Display', serif;
}


.conj_img
{
    flex-wrap: wrap;
    display:inline-flex;
}


.img_txt
{   
    padding: 70px;
    display: block;
    width: 280px;
}

#navbar{
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding-left: 3%;
    padding-bottom: 0.5%;
    }



#lupa{
    position: relative;
    left: 393px;
    bottom: 6px;
}



#imagen-responsive{
    width:25% ;
}

.letra{
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;
}